grey =            #cccccc
error-red =       #D0021B
grey-text =       #515151
trueblue =        #1482BA

global-reset()

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: grey-text;
  margin: 25px 50px;
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.container {
  padding-left: 60px;
  padding-right: 60px
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

/* MAIN NAV STYLES */
header {
  border: 1px solid red;
}

header div {
  height: 50px;
}

header .nav-logo {
  float: left;
}

header .nav-account {
  float: right;
}

/* EVENT STYLES */
article {
  border: 1px solid green;
}

.event-area {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  background: url('/assets/event-bg-default.png') no-repeat top center;
  background-size: cover;
  /*resize: vertical;
  overflow: auto;*/
}

.event-area h2 {
  margin: 0;
  font-size: 40px;
  text-shadow: 1px 1px 2px #000;
}

.event-pullquote .byline {
  display: block;
  font-size: 14px;
}